<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/17MAY2023_DS_ExceptionHand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def prog_add(a,b):
  return a+b

In [ ]:
def prog_add(a,b,c):
  return a+b+c

In [ ]:
def prog_add(a,b,c,d,e,f,g,h,i,j):
  return a+b+c+d+e+f+g+h+i+j

*args passes variable number of non-keyworded arguments and on which operation of the tuple can be performed.

In [ ]:
def prog_add(*args):
  return sum(args)

In [ ]:
prog_add(1,2,3,4,5,6,7,8,9,10,11)

66

In [ ]:
prog_add(1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,)

330

In [ ]:
prog_add(1,2,3,1.2,1.3,1.4)

9.9

In [ ]:
def prog_add(*args):
  print(args)

In [ ]:
prog_add([1,2,3,1.2,1.3,1.4], (1,2,3,1.2,1.3,1.4))

([1, 2, 3, 1.2, 1.3, 1.4], (1, 2, 3, 1.2, 1.3, 1.4))

In [ ]:
prog_add(['apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False],('apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False),{'apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False})

(['apple', 'python', 11, -22, -33, 4.4, -5.5, (12+7j), (-9-8j), True, False], ('apple', 'python', 11, -22, -33, 4.4, -5.5, (12+7j), (-9-8j), True, False), {False, (12+7j), True, 4.4, -22, 11, (-9-8j), 'apple', 'python', -5.5, -33})

    What is Python *args?

    The special syntax *args in function definitions in Python is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list.

    The syntax is to use the symbol * to take in a variable number of arguments; by convention, it is often used with the word args.
    
    What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. With *args, any number of extra arguments can be tacked on to your current formal parameters (including zero extra arguments).
    
    For example, we want to make a multiply function that takes any number of arguments and is able to multiply them all together. It can be done using *args.
    
    Using the *, the variable that we associate with the * becomes iterable meaning you can do things like iterate over it, run some higher-order functions such as map and filter, etc.

In [ ]:
def arthi_operation(*python):
  a = 0
  for i in python:
    print('value inside argument python ', i)

    a += i
  return a

In [ ]:
arthi_operation(1,2,3,4,5,6,7,8,9,10,11,12)

In [ ]:
def myFun(arg1, arg2, arg3, *argv):
    print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

First argument : Hello Welcome to
Next argument through *argv : Python Program
Next argument through *argv : Pune
Next argument through *argv : Practice
Next argument through *argv : Point to point

In [ ]:
def myFun(*argv, arg1, arg2, arg3):
    print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

In [ ]:
def myFun(*argv):
    # print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

Next argument through *argv : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : Python Program
Next argument through *argv : Pune
Next argument through *argv : Practice
Next argument through *argv : Point to point

    What is Python **kwargs?


    The special syntax **kwargs in function definitions in Python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them).

    A keyword argument is where you provide a name to the variable as you pass it into the function.


    One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it. That is why when we iterate over the kwargs there doesn’t seem to be any order in which they were printed out.

In [ ]:
def display_val(**kwargs):
  return kwargs

In [ ]:
display_val(1,2,3,4,5,6,7,8,9)

In [ ]:
display_val(num1 = 1)

{'num1': 1}

In [ ]:
display_val(num9=1,num8=2,num7=3,num6=4,num5=5,num4=6,num3=7,num2=8,num1=9)

{'num9': 1,
 'num8': 2,
 'num7': 3,
 'num6': 4,
 'num5': 5,
 'num4': 6,
 'num3': 7,
 'num2': 8,
 'num1': 9}

In [ ]:
# def both_together(*args,**kwargs):
def both_together(*ramlal,**shyamlal):
  return ramlal,shyamlal
#both_together(1,2,3,4,5)
#both_together(1,2,3,4,5,num9=1,num8=2,num7=3,num6=4,num5=5)
both_together(num9=1,num8=2,num7=3,num6=4,num5=5,1,2,3,4,5)

SyntaxError: ignored

In [ ]:
# def both_together(*args,**kwargs):
def both_together(**shyamlal, *ramlal):
  return ramlal,shyamlal
#both_together(1,2,3,4,5)
#both_together(1,2,3,4,5,num9=1,num8=2,num7=3,num6=4,num5=5)
both_together(num9=1,num8=2,num7=3,num6=4,num5=5,1,2,3,4,5)

In [ ]:
def both_together(arg1, arg2, arg3, *ramlal, **shyamlal):
  pass

In [ ]:
def both_together(arg1, arg2, arg3, *ramlal, **shyamlal):
  return arg1, arg2, arg3, ramlal, shyamlal

both_together(12,23,34,[1,2,3,4,5],(3,4,5,6,7),{5,5,6,6,6,7,7,7,7,8,8,8,8,8},{'a':'apple','b':'banana','c':'cherries'}, delta=[1,2,3,4,5],gamma=(3,4,5,6,7),beta={5,5,6,6,6,7,7,7,7,8,8,8,8,8},alpha={'a':'apple','b':'banana','c':'cherries'})

(12,
 23,
 34,
 ([1, 2, 3, 4, 5],
  (3, 4, 5, 6, 7),
  {5, 6, 7, 8},
  {'a': 'apple', 'b': 'banana', 'c': 'cherries'}),
 {'delta': [1, 2, 3, 4, 5],
  'gamma': (3, 4, 5, 6, 7),
  'beta': {5, 6, 7, 8},
  'alpha': {'a': 'apple', 'b': 'banana', 'c': 'cherries'}})

# Exception Handling

In [ ]:
print("Welcome to Python Programming")

Welcome to Python Programming

In [ ]:
print("Welcome to Python Programming') # SyntaxError: unterminated string literal (detected at line 1)

SyntaxError: ignored

In [ ]:
for i in range(100) # SyntaxError: expected ':'
  print(i)

SyntaxError: ignored

In [ ]:
a=100
if a > 10:
print('value of a', a) # IndentationError: expected an indented block after 'if' statement on line 2

IndentationError: ignored

In [ ]:
pri = 100000
rate = 10
dur = 5

si = (pri*rate*dur)/100

print("simple interest ", si)

simple interest  50000.0

In [ ]:
si = 100000
rate = int(input("Please enter rate of intrest "))
dur = 5

# si = (pri*rate*dur)/100

pri = (si * 100)/(rate * dur)

print("principle ", pri)

Please enter rate of intrest 0

ZeroDivisionError: ignored

In [ ]:
del pri

In [ ]:
try:
  si = 100000
  rate = int(input("Please enter rate of intrest "))
  dur = 5

  # si = (pri*rate*dur)/100

  pri = (si * 100)/(rate * dur)
except ZeroDivisionError as zde:
  print('Exception ZeroDivisionError ', zde)

Please enter rate of intrest 0
Exception ZeroDivisionError  division by zero

In [ ]:
tup1 = (1,2,3,4,5)
tup1.index(3), tup1.count(4)

(2, 1)

In [ ]:
tup1 = (1,2,3,4,5)
tup1.index()
tup1.count()

tup1.append(6)

print(tup1)

AttributeError: ignored

In [ ]:
try:
  tup1 = (1,2,3,4,5)

  tup1.append(6)
except AttributeError as ae:
  print('exception AttributeError ', ae)

exception AttributeError  'tuple' object has no attribute 'append'

In [ ]:
lst1 = [11,12,13,14,15,16,17,18,19,20]

for i in lst1:
  print(lst1[i])

IndexError: ignored

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:
    print(lst1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)

Exception IndexError  list index out of range

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:

    print(lst1[i])
except Exception as ie:
  print('Exception ', ie)

Exception  list index out of range

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:
    print(lst1[i])
except Exception as ie:
  print('Exception ', ie)
except IndexError as ie:
  print('Exception IndexError ', ie)

Exception  list index out of range

In [ ]:
try:
  tup1 = (11,12,13,14,15,16,17,18,19,20)

  for i in tup1:
    print(tup1[i])
    tup1.append(tup1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)
except Exception as ie:
  print('Exception ', ie)

Exception IndexError  tuple index out of range

In [ ]:
try:
  tup1 = (11,12,13,14,15,16,17,18,19,20)

  for i in tup1:
    tup1.append(tup1[i])
    print(tup1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)
except Exception as ie:
  print('Exception ', ie)

Exception  'tuple' object has no attribute 'append'

In [ ]:
# write a program
# 1. Exception
# 2. ZeroDivisionError
# 3. AttributeError
# 4. IndexError