<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/HW_if_elif_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to find list digit of a number for example 131 the last digit is 1

n=131
print(n%10)

1

In [ ]:
'''
2) Write a program to check criteria of the student according to %

Marks                                 GRADES


> 90 marks                         A

<80 and >=90 marks                 B

<60 and <= 80 marks                C

Below 60                          Failed
'''


marks= 87

if marks>90:
  print('A')
elif marks <=90 and marks >80:
  print('B') 
elif marks <=80 and marks >60:
  print('C')
else:
  print('Failed')

B

In [ ]:
'''
3)  Write a program to take input between 1-12 and print which month of the year is it?

Hint)  1 is January
'''
num=[1,2,3,4,5,6,7,8,9,10,11,12]
for n in num:
  if num ==1:
    print(num, 'January')
   else:
    print('none')

IndentationError: ignored

In [ ]:
'''
4)  Write a program to take input between 1-7 and print which day of week it is

Hint)  1 is Sunday

'''

a=2

if a==1:
  print('Sunday')
elif a==2:
  print('Monday')
elif a==3:
  print('Tuesday')
elif a==4:
  print('Wednesday')
elif a==52:
  print('Thursday')
elif a==6:
  print('Friday')
elif a==7:
  print('Saturday')
else:
  print('Not Valid')

Monday

In [ ]:
'''5) Check which number is greatest and smallest?'''

A=82
B=76
C=51
D=42

set1= set([A,B,C,D])
print('max is'+ str(max(set1)))
print('min is'+ str(min(set1)))

if B>A:
  print('greatest is B')
elif C>A:
  print('greatest is C')
elif D>A:
  print('greatest is D')
else:
  print("The greatest number is A")

max is82
min is42
The greatest number is A

In [ ]:
#6) Check if a person is senior citizen or NO?

age = 64

if age>=65:
  print('Senior Citizen')
else:
  print('NO')

NO

In [ ]:
#7) Check if a number is positive or negative

n=-10

if n>0:
  print('Positive')
else:
  print('Negative')

Negative

In [ ]:
#8) Check if a number is divisible by both 2 and 3

n=24

if (n%6)==0:
  print('Number is divisible by both 2 and 3')
else:
  print('Number is not divisible by both 2 and 3')

Number is divisible by both 2 and 3

In [ ]:
#9) Check if a character entered is a vowel or not

c='v'

if c=='a' or c=='e' or c=='i' or c=='o' or c=='u':
  print('Vowel')
else:
  print('not vowel')

not vowel

In [ ]:

# 10) Tell which person is the youngest and oldest
Messi=82
Ronaldo=91
Ronaldino=62
Neymar=51

if Messi > Ronaldo:
  print('Messi is the oldest')
elif Ronaldino > Ronaldo:
  print('Ronaldino is the oldest')  
elif Neymar > Ronaldo:
  print('Neymar is the oldest')
else:
  print('Ronaldo is the oldest')    

if  Ronaldo<Neymar:
  print('Ronaldo is the youngest')
elif Ronaldino< Neymar:
  print('Ronaldino is the youngest')  
elif Ronaldo<Neymar:
  print('Ronaldo is the youngest')
else:
  print('Neymar is the youngest')

Ronaldo is the oldest
Neymar is the youngest

Second Assignment

In [ ]:
#1) Calculate the sum of all numbers from 1 to a given number
n=20
b=0
for i in range (1,n+1):
  b=b+i
print(b)

210

In [ ]:
#1) Calculate the sum of all numbers from 1 to a given number
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(sum(num))

210

In [ ]:
#2) Write a program to print multiplication table of a given number

n=5
for k in range(1,11):
  print(n*k)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#3) Count the total number of digits in a number

n=4895632
n_str=str(n)
n_str
len(str(n))

for k in range(len(n_str)):
  print(k)

0
1
2
3
4
5
6

In [ ]:
#4) Reverse a given integer number
n=4895632
new_n=str(n)             ###str() converts integer into string
new_n
new_n[::-1]

'2365984'

In [ ]:
#5) Calculate the cube of all numbers from 1 to a given number

for n in range(1,11):
  print(n*n*n)

1
8
27
64
125
216
343
512
729
1000