<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/InteractiveDashboardforSalesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import calendar

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
path_sales = '/content/gdrive/MyDrive/Takeo/TakeoData/sales.csv'
path_store = '/content/gdrive/MyDrive/Takeo/TakeoData/stores.csv'

In [ ]:
df_sales = pd.read_csv(path_sales)
df_stores = pd.read_csv(path_store)

In [ ]:
df_sales

In [ ]:
df_sales['family'].unique()

In [ ]:
df_stores

In [ ]:
def col_stats(col):
    row_count = len(col)

    dtype = col.dtype
    unique = col.nunique()
    duplicate = col.duplicated().sum()
    isna = col.isna().sum()
    pisna = col.isna().sum()/row_count
    return [unique, duplicate, isna, pisna, dtype]

def get_stats(df):
    stat = dict()
    for col in df.columns:
        stat[col] = col_stats(df[col])
    return pd.DataFrame(stat, index=['unique', 'duplicate', 'null', 'pnull', 'dtype']).T

In [ ]:
df_sales['date'] = pd.to_datetime(df_sales['date'])

df_sales = df_sales.merge(df_stores, on='store_nbr', how='left')

df_sales.head()

In [ ]:
get_stats(df_sales)

In [ ]:
selected_year = 2014
df_sales_yr = df_sales[df_sales['date'].dt.year == int(selected_year)]
df_sales_yr

In [ ]:
print('  ', len(df_sales_yr['city'].unique()))

   22

In [ ]:
print('  ', len(df_sales_yr['state'].unique()))

   16

In [ ]:
print(' ', len(df_sales_yr['store_nbr'].unique()))

  54

In [ ]:
best_selling_products = (
    df_sales_yr.
    groupby('family').
    agg({'sales':'mean'}).
    sort_values(by='sales', ascending=False).
    reset_index())[:10]
best_selling_products

          family        sales
0      GROCERY I  3340.801321
1      BEVERAGES  2088.442816
2        PRODUCE  1196.201048
3       CLEANING   991.941392
4          DAIRY   686.395248
5   BREAD/BAKERY   418.602369
6        POULTRY   378.068405
7          MEATS   324.677932
8  PERSONAL CARE   243.553266
9           DELI   236.074701

In [ ]:
store_sales = (
    df_sales_yr.
    groupby('type').
    agg({'sales':'mean'}).
    sort_values(by='sales', ascending=False).
    reset_index()
)
store_sales

  type       sales
0    A  670.254223
1    D  321.426648
2    B  264.541967
3    E  203.357665
4    C  179.400958

In [ ]:
state_sales = (
    df_sales_yr.
    groupby('state').
    agg({'sales':'mean'}).
    round().
    sort_values(by='sales', ascending=False).
    reset_index()
)
state_sales

                             state  sales
0                        Pichincha  515.0
1                             Loja  359.0
2                       Tungurahua  348.0
3                         Los Rios  281.0
4                           El Oro  268.0
5                       Esmeraldas  267.0
6                           Guayas  234.0
7                            Azuay  232.0
8                          Bolivar  219.0
9                      Santa Elena  196.0
10                        Imbabura  190.0
11                      Chimborazo  183.0
12                        Cotopaxi  181.0
13  Santo Domingo de los Tsachilas  174.0
14                          Manabi   96.0
15                         Pastaza    0.0