<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/TakeoBDS29_09MAY2023_IfCond_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
this is python program
we are adding two numbers
first I have to convert the number into string and
later into interger
"""

'\nthis is python program\nwe are adding two numbers\nfirst I have to convert the number into string and\nlater into interger\n'

In [ ]:
'''
this is python program
we are adding two numbers
first I have to convert the number into string and
later into interger
'''

'\nthis is python program\nwe are adding two numbers\nfirst I have to convert the number into string and\nlater into interger\n'

In [ ]:
# this is comment

In [ ]:
a=9

if a < 10:
  print("a < 10")
  if a < 25:
    print("a < 25")
    if a < 40:
      print("a < 40")
      if a < 55:
        print("a < 55")
        if a < 70:
          print("a < 70")
          if a < 85:
            print("a < 85")
            if a < 100:
              print("a < 100")
            else:
              print("a < 100 else")
          else:
            print("a < 85 else")
        else:
          print("a < 70 else")
      else:
        print("a < 55 else")
    else:
      print("a < 40 else")
  else:
    print("a < 25 else")
else:
  print("a < 10 else")

a < 10
a < 25
a < 40
a < 55
a < 70
a < 85
a < 100

In [ ]:
a=100

if a > 10:
  print("a > 10")
  if a > 25:
    print("a > 25")
    if a > 40:
      print("a > 40")
      if a > 55:
        print("a > 55")
        if a > 70:
          print("a > 70")
          if a > 85:
            print("a > 85")
            if a > 100:
              print("a > 100")
            else:
              print("a > 100 else")
          else:
            print("a > 85 else")
        else:
          print("a > 70 else")
      else:
        print("a > 55 else")
    else:
      print("a > 40 else")
  else:
    print("a > 25 else")
else:
  print("a > 10 else")

a > 10
a > 25
a > 40
a > 55
a > 70
a > 85
a > 100 else

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
for i in lst1:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
tup1 = ('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p')
for i in tup1:
  print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p

In [ ]:
set1 = {True,False,None,'python',"PYTHON",'Python',3.14,23+71j,0,'python',1,"PYTHON",2,'Python',3,3.14,23+71j}
for i in set1:
  print(i)

False
True
2
PYTHON
3.14
3
(23+71j)
None
python
Python

In [ ]:
dict1 = {'a':'apple', 'b':'banana', 'c': 'cherries'}
for i in dict1:
  print(i)

a
b
c

In [ ]:
dict1 = {'a':'apple', 'b':'banana', 'c': 'cherries'}
for i in dict1.values():
  print(i)

apple
banana
cherries

In [ ]:
str1 = '''pneum'on"oultra"micro'sc"pic'silicov'olc"anoc'on"iosis'''
for i in str1:
  print(i)

p
n
e
u
m
'
o
n
"
o
u
l
t
r
a
"
m
i
c
r
o
'
s
c
"
p
i
c
'
s
i
l
i
c
o
v
'
o
l
c
"
a
n
o
c
'
o
n
"
i
o
s
i
s

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,100):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(10,100,10):
  print(i)

10
20
30
40
50
60
70
80
90

In [ ]:
print(lst1)
for i in lst1:
  print("values of list1 ", i)
else:
  print('I am in else section')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
values of list1  1
values of list1  2
values of list1  3
values of list1  4
values of list1  5
values of list1  6
values of list1  7
values of list1  8
values of list1  9
values of list1  10
values of list1  11
values of list1  12
values of list1  13
I am in else section

In [ ]:
stu_per = [98,87,76,65,54,43,32,88,77,66,55,44,33]
for perc in stu_per:
  if perc >= 85:
    print("passed with first class distinction", perc)
  elif perc >= 60 and perc < 85:
    print('passed with first class', perc)
  elif perc >= 40 and perc < 60:
    print('passed with second class', perc)
  else:
    print('better luck next time', perc)

passed with first class distinction 98
passed with first class distinction 87
passed with first class 76
passed with first class 65
passed with second class 54
passed with second class 43
better luck next time 32
passed with first class distinction 88
passed with first class 77
passed with first class 66
passed with second class 55
passed with second class 44
better luck next time 33

In [ ]:
for i in range(1, 11, 1):
  for j in range(1, 11, 1):
    print(i," * ",j, " = ",i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

(*values: object, sep: str | None = ..., end: str | None = ..., file: SupportsWrite[str] | None = ..., flush: Literal[False] = ...) -> None
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
for i in range(0, 20):
  for j in range(0, 20):
    print("*", end=' ')
    print()
  print('\r')

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(0, 20):
  for j in range(0, 20):
    print("*", end=' ')
  print('\r')

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(0, 10): # 0, 1     , 2      , 3         , 4          ..., 9 
  for j in range(i+1): # 0, 0,1   , 0,1,2  , 0,1,2,3   , 0,1,2,3,4  ..., 0,1,2,3,4,5,6,7,8,9
    print("*", end=" ")
  print('\r')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n = 6
k = n-1
for i in range(0, n):
  for j in range(0, k):
    print(end="^")
     
  k = k - 1
  for j in range(0, i+1):
    print(j, end="")
  print("\r")

^^^^^0
^^^^01
^^^012
^^0123
^01234
012345