<a href="https://colab.research.google.com/github/smkandel/Courses/blob/main/Week3_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def prog_add(*smriti):
  print(smriti)

In [ ]:
prog_add([3,'apple',3.3,-33,-22,2+3j,True,False],(2,3,'apple',-33,4.11,-22,2+3j,True,False),{1,'apple',-33,-22,2+3j,True,False})

([3, 'apple', 3.3, -33, -22, (2+3j), True, False], (2, 3, 'apple', -33, 4.11, -22, (2+3j), True, False), {'apple', 1, False, -22, (2+3j), -33})

In [ ]:
def arthi_op(*python):
  a=0
  for i in range python:
    print(i)

In [ ]:
def my_func(*argv):
  #print('First argument:', argv)
  for arg in argv:
    print('Other arguments:', arg)

my_func('Hello', 'everyone', 'how', 'are', 'you','doing','today')

Other arguments: Hello
Other arguments: everyone
Other arguments: how
Other arguments: are
Other arguments: you
Other arguments: doing
Other arguments: today

In [ ]:
def my_func(*args, arg1, arg2, arg3):
  for arg in argv:
    print(arg)

my_func(1,2,3,4,5)

TypeError: ignored

In [ ]:
def display_val(**smriti):
  return(smriti)

In [ ]:
display_val(num1=1,num2=2,num3='apple',num4='banana',num5=2.5,num6=True,num7=3+4j,num8=False)

{'num1': 1,
 'num2': 2,
 'num3': 'apple',
 'num4': 'banana',
 'num5': 2.5,
 'num6': True,
 'num7': (3+4j),
 'num8': False}

In [ ]:
def func_together(arg1,arg2,arg3,*argy, **argz):
  return arg1,arg2,arg3, argy, argz

func_together(1,2,3,['practice','python','programming',7,14.4],num1=6,num2=12,num3=18,num4='multiple')

(1,
 2,
 3,
 (['practice', 'python', 'programming', 7, 14.4],),
 {'num1': 6, 'num2': 12, 'num3': 18, 'num4': 'multiple'})

ROHIT SESSION

In [ ]:
#Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

def is_prime(n):
  for i in range(2,n//2):
   if n%i==0:
     return False
  return True     

def generate_twins(start,end):
  for i in range(start,end):
    j=i+2
    if (is_prime(i) and is_prime(j)):
      print('twin prime numbers:', i,j)

generate_twins(3,1000)

twin prime numbers: 3 5
twin prime numbers: 5 7
twin prime numbers: 11 13
twin prime numbers: 17 19
twin prime numbers: 29 31
twin prime numbers: 41 43
twin prime numbers: 59 61
twin prime numbers: 71 73
twin prime numbers: 101 103
twin prime numbers: 107 109
twin prime numbers: 137 139
twin prime numbers: 149 151
twin prime numbers: 179 181
twin prime numbers: 191 193
twin prime numbers: 197 199
twin prime numbers: 227 229
twin prime numbers: 239 241
twin prime numbers: 269 271
twin prime numbers: 281 283
twin prime numbers: 311 313
twin prime numbers: 347 349
twin prime numbers: 419 421
twin prime numbers: 431 433
twin prime numbers: 461 463
twin prime numbers: 521 523
twin prime numbers: 569 571
twin prime numbers: 599 601
twin prime numbers: 617 619
twin prime numbers: 641 643
twin prime numbers: 659 661
twin prime numbers: 809 811
twin prime numbers: 821 823
twin prime numbers: 827 829
twin prime numbers: 857 859
twin prime numbers: 881 883

In [ ]:
tup1=(1,2,3,4,5)
tup1.index(3), tup1.count(4)

(2, 1)

In [ ]:
for i in lst1:
    print(lst1[i])

IndexError: ignored

In [ ]:
try:
  lst1=[11,21,13,1,413,32]

  for i in lst1:
    print(lst1[i])
except Exception as ie:
    print('Exception', ie)

Exception list index out of range

In [ ]:
try:
  tup1 = (1,2,3,4,5)

  tup1.append(6)
except AttributeError as ae:
  print('exception AttributeError ', ae)

exception AttributeError  'tuple' object has no attribute 'append'

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:
    print(lst1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)

except Exception as ie:
  print('Exception ', ie)

Exception IndexError  list index out of range

In [ ]:
try:
  tup1 = (11,12,13,14,15,16,17,18,19,20)

  for i in tup1:
    tup1.append(tup1[i])
    print(tup1[i])    
except Exception as ie:
  print('Exception IndexError ', ie)  
except Exception as ie:
  print('Exception ', ie)

Exception IndexError  'tuple' object has no attribute 'append'

In [ ]:
tup1=('a','b','c','d')
for i in tup1:
    tup1.append('e')
    print(tup1)

AttributeError: ignored

In [ ]:
#Exception 
try:
  lst1=[1,2,3,4,5,6,7,8,9,10]

  for i in lst1:
    lst1[i]
    print(lst1)
except Exception as ex:
  print("Exception error", ex)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Exception error list index out of range

In [ ]:

forc= 50
are=int(input('Enter a value'))
pres=(forc/are)
pres

Enter a value0

ZeroDivisionError: ignored

In [ ]:
#ZeroDivisionError
try:
  forc= 50
  are=int(input('Enter a value'))
  pres=(forc/are)
  pres

except ZeroDivisionError as ze:
  print('Exception ZeroDivisionError', ze)

Enter a value0
Exception ZeroDivisionError division by zero

In [ ]:
#3. AttributeError
try:
  tup1=('a','b','c','d')
  for i in tup1:
    tup1.append('e')
    print(tup1)

except AttributeError as ae:
  print('AttributeError', ae)

AttributeError 'tuple' object has no attribute 'append'

In [ ]:
#Index Error

try:
   lst1=[10,2,3,40,5,6,7,8,9]
   for i in lst1:
    print(lst1[i])
except IndexError as ie:
  print("Except IndexError", ie)

Except IndexError list index out of range

In [ ]:
#Exception
try:
  str1="Hello everyone"

  for i in str1:
    print(str1.extend('learning'))
except Exception as ie:
  print('Exception ', ie)

Exception  'str' object has no attribute 'extend'

File Handling

In [ ]:
# File Handling

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In [ ]:
f=open("NewFile.txt", 'x')

In [ ]:
f=open("NewFile.txt")

In [ ]:
f=open("NewFile.txt", 'rt')

In [ ]:
f=open("NewFile.txt", 'w')

In [ ]:
f.write('I am taking Data Science Bootcamp.')

34

In [ ]:
f.close()

In [ ]:
f= open("NewFile.txt", 'r')

In [ ]:
print(f.read())

I am taking Data Science Bootcamp.

In [ ]:
f=open("NewFile.txt", 'a')

In [ ]:
f.write(' I want to be a Data scientist.')

31

In [ ]:
f.close()

In [ ]:
f=open("NewFile.txt", 'r')

In [ ]:
print(f.read())

I am taking Data Science Bootcamp. I want to be a Data scientist.

In [ ]:
class my_3rd_class:
  x1 = "x1 is variable inside my_3rd_class"
  print(type(x1))
  x2 = "x2 is variable inside my_3rd_class"
  print(type(x2))

<class 'str'>
<class 'str'>

In [ ]:
z = my_3rd_class()
print(type(z))

<class '__main__.my_3rd_class'>

In [ ]:
class iPhone15Pro:
  a = "#@^iPhone15Pro^@#"

In [ ]:
a1 = iPhone15Pro() # Object 'a1' is instance of class iPhone15Pro
print(type(a1))
a1.a

<class '__main__.iPhone15Pro'>

'#@^iPhone15Pro^@#'

In [ ]:
class dellXzen:
  dell1="dellXzen2010"
  dell2='dellZxen2015'
  dell3='dellXxen2020'

In [ ]:

# create 3 objects dXz1, dXz2, dXz3
dXz1 = dellXzen()
print(type(dXz1))
dXz1.dell1

<class '__main__.dellXzen'>

'dellXzen2010'

In [ ]:
dXz2=dellXzen()
print(type(dXz1))
dXz2.dell2

<class '__main__.dellXzen'>

'dellZxen2015'

In [ ]:
dXz3=dellXzen()
print(type(dXz3))
dXz3.dell3

<class '__main__.dellXzen'>

'dellXxen2020'

In [ ]:
class iPhone15Pro:
  def __init__(smriti, model, price):
    smriti.model = model
    smriti.price = price
  def print_info(smriti):
    print("model: ", smriti.model , "price: ", smriti.price)

In [ ]:
a1=iPhone15Pro('i 15 Pro', 12345)
a1.print_info()

model:  i 15 Pro price:  12345

In [ ]:
class iPhone15Pro:
  def __init__(self,processor,ram,int_mem,display,camera):
    self.processor=processor
    self.ram=ram
    self.int_mem=int_mem
    self.display=display
    self.camera=camera

  def print_details(self):
    print("Processor:", self.processor,
          "RAM:", self.ram,
          "Internal Memory:", self.int_mem,
          "Display:", self.display,
          "camera:", self.camera)

In [ ]:
a1=iPhone15Pro('i15', 60, 150, 89, 850)
a1.print_details()

Processor: i15 RAM: 60 Internal Memory: 150 Display: 89 camera: 850

In [ ]:
class mobile: ##parent
  def __init__(self,company,series):
    self.company= company
    self.series= series
  def print_details(self):
    print("Model name is:", self.company, 'Series is:', self.series)

class android(mobile): ###child
  pass

In [ ]:
mob1=mobile('SamsungGalaxy', 'S23')
mob1.print_details()
print(type(mob1))

Model name is: SamsungGalaxy Series is: S23
<class '__main__.mobile'>

In [ ]:
mob1=android('Googlepixel', 'notebook')
mob1.print_details()
print(type(mob1))

Model name is: Googlepixel Series is: notebook
<class '__main__.android'>

In [ ]:
class person:
  def __init__(self,name,lname):
    self.firstname=name
    self.lastname=lname

  def printname(self):
    print("First Name:", self.firstname, "Last name:", self.lastname)

In [ ]:
class computer:
  def __init__(self,version,year):
    self.version=version
    self.year=year

  def printname(self):
    print("Computer type:", self.version, "Model is:", self.year)

In [ ]:
class laptop(computer):
  def __init__(self,version,year):
    self.version=version
    self.year=year

  def printname(self):
    print("Series is:", self.version, "Inch is:", self.year)

In [ ]:
class desktop(computer):
  def __init__(self,version,year):
    self.version=version
    self.year=year

  def printname(self):
    print("Desktop name:", self.version, "Desktop inch:", self.year)

In [ ]:
comp=computer('Laptop', 'hp')
comp.printname()

Computer type: Laptop Model is: hp

In [ ]:
lap=laptop('Chromebook', 12)
lap.printname()

Series is: Chromebook Inch is: 12

In [ ]:
desk=desktop('Samsung', 16)
desk.printname()

Desktop name: Samsung Desktop inch: 16

In [ ]:
class computer:
  def __init__(self,brand):
     self.brand=brand
     def printme(self):
      print("I am the computer")

# class laptop(computer):
#   def __init__(self,brand,screensize):
#     self.screensize=screensize
#     def printme(self):
#       print("I am the laptop")

# class desktop(computer):
#   def __init__(self,brand,screensize,weight):
#     self.screensize=screensize
#     self.weight=weight
#     def printme(self):
#       print("I am the desktop")

cmp=computer("Sony")
cmp.printme()

# laptop1=laptop("HP",15)
# laptop1.printme()

# desktop1=desktop("LG",14,10)
# desktop1.printme()

AttributeError: ignored

Rohit Session practice

In [ ]:
a=[1,2,3,4,5,6,7]
#rows=1,col=7

a=[[1,2,3],[2,3,4],[5,6,7]]
#rows=3, columns=3
print(a[0])

[1, 2, 3]

In [ ]:
#Write a program to find out the prime factors of a number. Example: prime factors of 56


def is_prime(n):
  for i in range(2,n):
   if n%i==0:
     return False
  return True

def prime_factors(n):
  checkmate=True
  for k in range(2,n):
    if n%k==0:
      if is_prime(k):
        print(str(k)+ 'is a prime factor of', n)
        checkmate=False
  if checkmate:
    print("Number has no prime factors")

n=56
prime_factors(n)

2is a prime factor of 56
7is a prime factor of 56

In [ ]:
##If all digits of a number n are multiplied by each other repeating with the product, the one digit number obtained at last is called the multiplicative digital root of n. The number of times digits need to be multiplied to reach one digit is called the multiplicative persistance of n

#Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3
# 341 -> 12->2           (MDR 2, MPersistence 2)




def a_MDR (n):
  for i in range (0,n):
    if a==8 and b==6:
      return a*b

n=86
print(a_MDR(n))

TypeError: ignored